[submodule "MQTT"]
	path = MQTT
	url = git@github.com:erayaydin/mqtt.git
[submodule "Android"]
	path = Android
	url = git@github.com:erayaydin/android.git
[submodule "DeepLearning"]
	path = DeepLearning
	url = git@github.com:erayaydin/deep-learning.git
[submodule "CPP"]
	path = CPP
	url = git@github.com:erayaydin/cpp.git
