# Development Gitignore File

## Temporary ignore Frontend for submodule.
/Frontend

## Temporary ignore Java for submodule.
/Java

## Temporary ignore Linux for submodule.
/Linux

## Temporary ignore LWJGL for submodule.
/LWJGL

## Temporary ignore NodeJS for submodule.
/NodeJS

## Temporary ignore PHP for submodule.
/PHP

## Temporary ignore Python for submodule.
/Python

## Temporary ignore Projects for submodule.
/Projects

## Temporary ignore Phaser for submodule.
/Phaser

## Ignore Company related documents.
/Company

## Ignore secret projects.
/Secret

## Ignore all secret files.
*-secret-file*

