# Development Gitignore File

## Temporary ignore PHP for submodule.
/PHP

## Ignore Company related documents.
/Company

## Ignore secret projects.
/Secret

## Ignore all secret files.
*-secret-file*

